@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* .slick-dots {
  position: absolute;
  top: -0px; 
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
} */
.slick-prev {
  left: 0 !important;
  top: 0 !important;
  transform: none !important;
  z-index: 50 !important;
}

.slick-next {
  right: 0 !important;
  top: 0 !important;
  transform: none !important;
  z-index: 50 !important;
}
.slick-next.slick-disabled {
  opacity: 0 !important;
  pointer-events: none !important;
}

